/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

/**
 * Light Mode Theme
 * -------------------------------------------------------------------------- */
:root {
  /* Background */
  --vp-c-bg: oklch(0.9699 0.0013 106.42);
  --vp-c-bg-soft: oklch(0.95 0.0013 106.42);
  --vp-c-bg-alt: oklch(0.90 0.0013 106.42);

  /* Text */
  --vp-c-text-1: oklch(0.3056 0.0654 288.09);
  --vp-c-text-2: oklch(0.3056 0.0654 288.09 / 0.75);
  --vp-c-text-3: oklch(0.3056 0.0654 288.09 / 0.6);
  --vp-c-text-4: oklch(0.3056 0.0013 106.42 / 0.4);
  --vp-c-text-0: oklch(0.3056 0.0013 106.42 / 0);

  /* Brand colors */
  --vp-c-brand-1: oklch(0.64 0.22 340);
  --vp-c-brand-2: oklch(0.6 0.16 340);
  --vp-c-brand-3: oklch(0.5 0.14 340);
  --vp-c-brand-soft: oklch(0.6881 0.1813 340 / 0.33);

  /* Secondary color */
  --vp-c-secondary-1: oklch(0.7301 0.1547 67.01);
  --vp-c-secondary-2: oklch(0.65 0.14 67.01);
  --vp-c-secondary-3: oklch(0.6 0.12 67.01);
  --vp-c-secondary-soft: oklch(0.7301 0.1547 67.01 / 0.33);

  /* Default colors */
  --vp-c-default-1: var(--vp-c-text-2);
  --vp-c-default-2: var(--vp-c-text-3);
  --vp-c-default-3: var(--vp-c-bg-alt);
  --vp-c-default-soft: var(--vp-c-bg-soft);

  /* Tip colors (using brand) */
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  /* Warning colors (using secondary) */
  --vp-c-warning-1: var(--vp-c-secondary-1);
  --vp-c-warning-2: var(--vp-c-secondary-2);
  --vp-c-warning-3: var(--vp-c-secondary-3);
  --vp-c-warning-soft: var(--vp-c-secondary-soft);

  /* Keep default danger colors */
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  /* Sidebar */
  --vp-sidebar-bg-color: transparent;

  /* Input */
  --vp-input-border-color: oklch(0.85 0.0013 106.42);
  --vp-input-switch-bg-color: transparent;

  /** Code **/
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-code-line-highlight-color: oklch(0.9 0.0013 106.42);

  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-alt-hover-bg: oklch(0.84 0.0013 106.42);

  /* Gutter */
  --vp-c-gutter: var(--vp-c-bg-alt);
  --vp-c-divider: var(--vp-c-bg-alt);

  /** Other **/
  --vp-backdrop-bg-color: oklch(0.2 0.0013 106.42 / 0.33);
}

/**
 * Dark Mode Theme
 * -------------------------------------------------------------------------- */
.dark {
  /* Background */
  --vp-c-bg: oklch(0.3056 0.0654 288.09);
  --vp-c-bg-soft: oklch(0.34 0.0654 288.09);
  --vp-c-bg-alt: oklch(0.35 0.0654 288.09);

  /* Text */
  --vp-c-text-1: oklch(0.9699 0.0013 106.42);
  --vp-c-text-2: oklch(0.9699 0.0013 106.42 / 0.75);
  --vp-c-text-3: oklch(0.9699 0.0013 106.42 / 0.6);
  --vp-c-text-4: oklch(0.9699 0.0013 106.42 / 0.4);
  --vp-c-text-0: oklch(0.9699 0.0013 106.42 / 0);

  /* Brand colors */
  --vp-c-brand-1: oklch(0.7583 0.2 340);
  --vp-c-brand-2: oklch(0.7 0.18 340);
  --vp-c-brand-3: oklch(0.65 0.16 340);
  --vp-c-brand-soft: oklch(0.7583 0.2 340 / 0.14);

  /* Secondary color */
  --vp-c-secondary-1: oklch(0.8119 0.1364 67.01);
  --vp-c-secondary-2: oklch(0.75 0.12 67.01);
  --vp-c-secondary-3: oklch(0.7 0.11 67.01);
  --vp-c-secondary-soft: oklch(0.8119 0.1364 67.01 / 0.14);

  /* Default colors */
  --vp-c-default-1: var(--vp-c-text-2);
  --vp-c-default-2: var(--vp-c-text-3);
  --vp-c-default-3: var(--vp-c-bg-alt);
  --vp-c-default-soft: var(--vp-c-bg-soft);

  /* Tip colors (using brand) */
  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  /* Warning colors (using secondary) */
  --vp-c-warning-1: var(--vp-c-secondary-1);
  --vp-c-warning-2: var(--vp-c-secondary-2);
  --vp-c-warning-3: var(--vp-c-secondary-3);
  --vp-c-warning-soft: var(--vp-c-secondary-soft);

  /* Keep default danger colors */
  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  /* Gutter */
  --vp-c-gutter: var(--vp-c-bg-alt);
  --vp-c-divider: var(--vp-c-bg-alt);

  /* Input */
  --vp-input-border-color: oklch(0.4 0.0654 288.09);

  /** Code **/
  --vp-code-line-highlight-color: oklch(0.42 0.0654 288.09);

  /** Other **/
  --vp-button-alt-hover-bg: oklch(0.45 0.0654 288.09);
  --vp-backdrop-bg-color: oklch(0.1056 0.0654 288.09 / 0.66)
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1);
}

.VPSidebar.VPSidebar {
  box-shadow: none;
  border-right: 1px solid var(--vp-c-gutter);
}

.VPHero .name {
  font-weight: 800;
  line-height: 40px;
  font-size: 32px;
}

.VPHero .text {
  line-height: 32px;
  font-size: 24px;
}

@media (min-width: 640px) {
  .VPHero .name {
    line-height: 64px;
    font-size: 56px;
  }
  .VPHero .text {
    line-height: 52px;
    font-size: 44px;
  }
}

@media (min-width: 960px) {
  .VPNavBar.VPNavBar.has-sidebar div.title {
    padding-right: 0;
  }
  .VPNavBar.VPNavBar.has-sidebar a.title {
    border-bottom-color: transparent;
  }
  .VPNavBar.VPNavBar.has-sidebar .divider {
    padding-left: 0;
  }
  .VPLocalNav.VPLocalNav.has-sidebar {
    margin-left: var(--vp-sidebar-width);
    padding-left: 0;
  }
  .VPHero .name {
    font-weight: 800;
    line-height: 72px;
    font-size: 64px;
  }
  .VPHero .text {
    line-height: 56px;
    font-size: 48px;
  }
}

.VPSwitch.VPSwitchAppearance {
  border-color: var(--vp-c-text-1);
}

.VPSwitch.VPSwitchAppearance .check .icon {
  background-color: transparent;
}

.VPSwitch.VPSwitchAppearance .check {
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--vp-c-text-1);
  box-shadow: 0 0 0 1px var(--vp-c-text-1);
  /* biome-ignore lint/complexity/noImportantStyles:to override vitepress default transition */
  transition: all 0.2s ease-in-out !important;
}

.VPSwitch:hover.VPSwitchAppearance .check {
  box-shadow: 0 0 0 1px var(--vp-c-brand-1);
  background-color: var(--vp-c-brand-1);
}

.VPSwitch.VPSwitchAppearance .check .icon {
  width: 20px;
  height: 20px;
}

.VPSwitch.VPSwitchAppearance .sun,
.VPSwitch.VPSwitchAppearance .moon,
.dark .VPSwitch.VPSwitchAppearance .moon {
  top: 4px;
  left: 4px;
  color: var(--vp-c-bg);
}

.VPHero.VPHero .name {
  color: var(--vp-c-text-1);
  background: none;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-text-fill-color: unset;
}

.VPFeature.VPFeature {
  background-color: oklch(0.95 0.0013 106.42 / 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.dark .VPFeature.VPFeature {
  background-color: oklch(0.34 0.0654 288.09 / 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.VPLastUpdated.VPLastUpdated {
  color: var(--vp-c-text-3);
}

.VPHomeFeatures.VPHomeFeatures .VPImage {
  margin-bottom: 8px;
}

.VPFooter.VPFooter a {
  opacity: 0.75;
  mix-blend-mode: screen;
  color: var(--vp-c-secondary-1);
  text-decoration-color: var(--vp-c-text-0);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  transition: all 0.25s ease-in-out;
}
.dark .VPFooter.VPFooter a {
  opacity: 0.33;
}

.VPFooter.VPFooter a:hover {
  opacity: 1;
  color: var(--vp-c-brand-1);
  text-decoration-color: var(--vp-c-brand-soft);
  text-underline-offset: 2px;
}

.VPFlyout.VPFlyout:hover .text {
  color: var(--vp-c-brand-1);
}

.VPBackdrop.VPBackdrop {
  backdrop-filter: blur(4px);
}

.VPSocialLink.VPSocialLink {
  color: var(--vp-c-text-1);
}

.VPSocialLink.VPSocialLink:hover {
  color: var(--vp-c-brand-1);
}

/**
 * Home Page Overrides
 * These apply only when the .is-home class is on <html>
 * -------------------------------------------------------------------------- */

:root.is-home {
  --vp-c-bg: transparent;
  --vp-c-divider: transparent;
  --vp-c-gutter: transparent;
}

:root.is-home .VPNavBarMenuLink.active {
  color: var(--vp-c-text-1);
  font-weight: bold;
}

:root.is-home .VPSocialLink {
  color: var(--vp-c-text-1);
}

:root.dark.is-home {
  --vp-c-bg: transparent;
  --vp-c-divider: transparent;
  --vp-c-gutter: transparent;
}

:root.is-home .VPFlyout:hover .text {
  color: var(--vp-c-text-1);
}

:root.is-home .VPSwitch {
  border: 1px solid var(--vp-c-text-1);
  background-color: var(--vp-input-switch-bg-color);
}

:root.is-home .VPSwitch.VPSwitchAppearance .check {
  background-color: var(--vp-c-text-1);
  box-shadow: 0 0 0 1px var(--vp-c-text-1);
}

:root.is-home .VPSwitch:hover.VPSwitchAppearance .check {
  box-shadow: 0 0 0 1px var(--vp-c-text-1);
  background-color: var(--vp-c-text-1);
}

:root.is-home .VPSwitch.VPSwitchAppearance .sun,
:root.is-home .VPSwitch.VPSwitchAppearance .moon {
  color: var(--vp-c-bg-soft);
}

/**
 * Global Styles
 * -------------------------------------------------------------------------- */

#footer-heart-mount {
  display: inline-block;
  vertical-align: middle;
}
